

#################
## Unity
#################

Library/
obj/
Temp/
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Pet46VR-csharp.sln
Pet46VR.sln
Pet46VR.userprefs
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-vs.csproj
Assembly-UnityScript-vs.unityproj
Assembly-UnityScript.unityproj